In [3]:
import pandas as pd
#Pandas (Panel data and Python data analysis)
    #useful to clean messy data

import numpy as np

In [2]:
#Series and dataframe
    #series: works with single column data
    #dataframe: works with multiple column data

In [5]:
province = ['Ontario','Alberta','Saskatchewan']
province

['Ontario', 'Alberta', 'Saskatchewan']

In [7]:
#Applying Series on our data. NB. Series must start with uppercase S
pd.Series(province)

0         Ontario
1         Alberta
2    Saskatchewan
dtype: object

In [8]:
population = [20,50,35]

In [9]:
pd.Series(data=population, index=province)

Ontario         20
Alberta         50
Saskatchewan    35
dtype: int64

In [10]:
q1 = {'Cosmetics':50, 'Jewellery':40, 'Games':20}
q2 = {'Supplies':30, 'Games':60, 'Shoes':10}
q1 + q2            #can't sum dictionary with dictionary since 'cosmetics' does not appear in q2. 
                    #To fix this, use fill_value=0

TypeError: unsupported operand type(s) for +: 'dict' and 'dict'

In [13]:
sales_q1 = pd.Series(q1)
sales_q2 = pd.Series(q2)
sales_q1 + sales_q2

Cosmetics     NaN
Games        80.0
Jewellery     NaN
Shoes         NaN
Supplies      NaN
dtype: float64

In [15]:
sales_q1.add(sales_q2, fill_value=0)

Cosmetics    50.0
Games        80.0
Jewellery    40.0
Shoes        10.0
Supplies     30.0
dtype: float64