In [6]:
3+4

7

In [7]:
print("The answer is", 3+4)

The answer is 7

In [8]:
input("Enter your name")

Enter your nameFULE CHI B.

'FULE CHI B.'

In [9]:
first_name='FULE'

In [10]:
first_name

'FULE'

In [11]:
#Rules for Naming:
#1. Do not start your variables with numbers or symbols except underscore_
_numbers2=5+4

In [12]:
_numbers2

9

In [17]:
#2. Do not add space in between variable names
last_name = "Chi"

In [18]:
last_name

'Chi'

In [19]:
#3. Do not use reserved words as variable name
#eg. false, none, true, and, await, else, import, pass, with, yield, etc.

In [20]:
print(2+3)

5

In [21]:
print("2+3")

2+3

In [22]:
#4. variables are case-sensitive

In [23]:
greet="how are you?"

In [24]:
print(greet)

how are you?

In [25]:
#5. use meainingful words to represent your variable
add_two_numbers = 2 + 4

In [26]:
add_two_numbers

6

In [27]:
#6. Use Uppercase to store constant variables
PI = 3.14

In [29]:
#7. Multiple lines of code for calculations, use \ at the end of the preceeding line
add_numbers = 2 + 4 \
+ 3

In [30]:
add_numbers

9

In [31]:
#8. Triple quote allows multiple lines of string codes
address = """11524 Av. Allard,
Montreal-Nord,
Quebec,
Canada.
H1G 3L3
"""

In [32]:
address

'11524 Av. Allard,\nMontreal-Nord,\nQuebec,\nCanada.\nH1G 3L3\n'

In [33]:
#count the number of charaters in a string, including spaces and symbols, starting from 1 - use 'len' to mean length

address ="11524 Av. Allard"
len(address)

16

In [39]:
#indexing - bringing out a single character from a string

#what is the index position of 'r' in 11524 Av. Allard ?
#index position of r is 14 (start counting 1st letter from 0, or last letter at -1)

address[14]

'r'

In [40]:
address[-2]

'r'

In [41]:
#slicing - bring out multiple items
address[10:16]

'Allard'

In [44]:
name = "fule"
name.capitalize()

'Fule'

In [45]:
name.upper()

'FULE'

In [47]:
address ="11524 av. allard"
address.count('a')

3

In [49]:
address.index('l')

11

In [50]:
address.isdigit()

False

In [51]:
address[ : ]

'11524 av. allard'

In [53]:
address[ :5]

'11524'

In [54]:
address[0:16:2]

'154a.alr'

In [55]:
numbers = '123456789'
numbers[1:10:2]
#read: display number starting from the 1st to the last, skipping 2 numbers along the way

'2468'

In [56]:
#alternatively, omit 10 and the entire numbers will be displayed
numbers[1: :2]

'2468'

In [57]:
numbers = '123456789'
numbers[0:10:2]

'13579'

In [58]:
#alternatively
numbers = '123456789'
numbers[::2]

'13579'

In [59]:
#Inverting a number eg. 123456789 to 987654321
numbers[::-1]

'987654321'

In [61]:
#list - is for storing multiple values in a variable.
#instead of recording color1=red, color2=green, etc, rather do this:
colors = ["red", "green", "blue", "yellow"]
colors[3]

'yellow'

In [62]:
colors.index('yellow')

3

In [63]:
#add new item to a list - use append

colors.append('purple')

In [64]:
colors

['red', 'green', 'blue', 'yellow', 'purple']

In [66]:
demo = colors.copy()
demo

['red', 'green', 'blue', 'yellow', 'purple']

In [67]:
#merge - using extend
colors.extend(demo)

In [68]:
colors

['red',
 'green',
 'blue',
 'yellow',
 'purple',
 'red',
 'green',
 'blue',
 'yellow',
 'purple']

In [2]:
#example 2 of merge
num1 = [1,2,3]
num2 = [4,5,6]
num1.extend(num2)

In [72]:
num1

[1, 2, 3, 4, 5, 6]

In [73]:
#define position to append new item

demo.insert(0,"pink")

In [74]:
demo

['pink', 'red', 'green', 'blue', 'yellow', 'purple']

In [75]:
num1.reverse()

In [76]:
num1

[6, 5, 4, 3, 2, 1]

In [77]:
#drop an item from list using pop
demo.pop()

'purple'

In [78]:
demo

['pink', 'red', 'green', 'blue', 'yellow']

In [79]:
demo.pop(2)

'green'

In [80]:
demo

['pink', 'red', 'blue', 'yellow']

In [81]:
#organize list in ascending order using sort
demo.sort()

In [82]:
demo

['blue', 'pink', 'red', 'yellow']

In [83]:
df = demo.copy() #saves an updated data version
df

['blue', 'pink', 'red', 'yellow']

In [87]:
df.reverse()

In [88]:
df

['yellow', 'red', 'pink', 'blue']

In [3]:
num2

[4, 5, 6]

In [6]:
test = [3,6,1,8,4,2]
test.sort()

In [7]:
test

[1, 2, 3, 4, 6, 8]

In [10]:
#Advanced Data Types
#Type 1. Tuple: storing immutable values, that is, can not be modified, denoted by () - rounded brackets

numbers = (1,2,3,4)
gender = ("Male", "Female")
#gender.append("non Binary") will not be possible
gender[1]

'Female'

In [11]:
gender.count("Male")

1

In [12]:
#Type 2. Set: for storing unique values, denoted by {} - curly brackets
numbers = {1,2,1,3,1,4,4,1,2,1,3,3,1}
numbers

{1, 2, 3, 4}

In [13]:
#alternatively
score = [1,2,1,3,1,4,4,1,2,1,3,3,1] #this is a list
set(score)

{1, 2, 3, 4}

In [31]:
#Type 3. Dictionary: It is the Key-value pair data, which allows nesting values
#staff_data = ["Fule", "John", "Mary", "Wale"]
employee = {
    "name": "Fule",
    "age": 25,
    "gender": "Female",
    "address":{
        "street": "11524 Allard",
        "state": "Quebec"
     }
}
employee["age"]

25

In [18]:
employee["name"]

'Fule'

In [30]:
employee["address"]["state"]

'Quebec'

In [32]:
#Input staff_data using the format: employee = [{},{},{},{}]
employee = [{
    "name": "Fule",
    "age": 25,
    "gender": "Female",
    "address":{
        "street": "11524 Allard",
        "state": "Quebec"
    }
},{
    "name": "John",
    "age": 30,
    "gender": "Male",
    "address":{
        "street": "90 Canada Road",
        "state": "Ontario"
    }
},{
    "name": "Mary",
    "age": 20,
    "gender": "Female",
    "address":{
        "street": "601 Alabama",
        "state": "Manitoba"
    }
},{
    "name": "Wale",
    "age": 40,
    "gender": "Male",
    "address":{
        "street": "5B Amazon Street",
        "state": "Saskatchewan"
    }
}]

In [33]:
#to identify Mary's State, start with index position [2], then the key to get the corresponding value
employee[2]["address"]["state"]

'Manitoba'

In [36]:
#bring out blackTECH from this code
record = {'k1':[{'nest_key':['this is deep',['BlackTECH']]}]}
#procedure:
#level 1: k1 is key and [{'nest_key':['this is deep',['BlackTECH']]}] is the value (which is a list with only 1 variable, 
            #that is index position 0)
#level 2: within the value, {'nest_key':['this is deep',['BlackTECH']]}, nest_key is the key, 
            #while ['this is deep',['BlackTECH'] is the value (list), with BlackTECH at index position 1
#level 3: Reveal the value in index1 by [0]

record['k1'][0]['nest_key'][1][0]

'BlackTECH'