In [1]:
#Printing out output
first_name = "Fule"
age = 30
print(f'I am {first_name}. I am {age} years old')

I am Fule. I am 30 years old

In [2]:
print('I am %s. I am %d years old' %(first_name, age))

I am Fule. I am 30 years old

In [3]:
print('I am {}. I am {} years old'.format(first_name, age))

I am Fule. I am 30 years old

In [4]:
#Arithmetic Operators
x = 5
y = 3

x + y
x - y
x / y
x * y
x % y  #Modulus: the remainder after dividing 2 numbers
x // y #Floor division: the whole number after dividing 2 numbers
x ** y #exponent

125

In [5]:
#Comparison Operators
x > y
x < y
x >= y
x <= y #less than or equal to
x == y #equal to
x != y #not equal to

True

In [6]:
#Assignment Operators
x = 5
y = 3
x += y #Assignment: add x to y and replace x with the new value, while maintaining the y value (x=x+y)
        #Procedure: write varibale on the left (x), deduct assignment sign and write down what is left (x+y)
x

8

In [7]:
a = 5
b = 3
a =+ b
a

3

In [8]:
num1 = 10
num2 = -3
num1 += num2 #num1=num1+num2
num1        #(num1_new)

7

In [9]:
num1 -= num2 #num1=num1_new - num2
num1

10

In [10]:
#Logical Operators
(5 > 3) and (3 > 4)  #both conditions must be met

False

In [11]:
(4 > 5) or (3 > 1)  #at least 1 condition must be met

True

In [12]:
not((3 > 2) and (4 > 1))  #gives the opposite of the answer

False

In [13]:
#Membership Operators
numbers = [1,2,3,4,5]
3 in numbers

True

In [14]:
13 in numbers

False

In [15]:
#Control Flow: Conditions

age = 17
if age >= 18:
    print("You can vote")
else:
    print("Not eligible")

Not eligible

In [16]:
age = 18
country = "Canada"

if age >= 18 or country == 'Canada':
    print("You can vote")
else:
    print("Not eligible")

You can vote

In [17]:
num = 0
if num > 0:
    print("Positive")
elif num < 0:
    print("negative")
else:
    print("zero")

zero

In [18]:
#write a program that finds the largest between 3 variables
a = 13
b = 11
c = 20
if a > b and a > c:
    print("a is largest")
elif b > a and b > c:
    print("b is largest")
else:
    print("c is largest")

c is largest

In [19]:
#Loops: when a condition is met, a cycle is repeated
#while

x = 1           #initialization
while x <= 10:  #condition: the loop ends at x = 10
    print(x)    #an infinite loop is created
    x += 1      #increments of +1

1
2
3
4
5
6
7
8
9
10

In [20]:
x = 2        
while x <= 10:  
    print(x)
    x += 2

2
4
6
8
10

In [21]:
#For Loop
numbers = [1,2,3,4,5,6,7,8,9,10]
for x in numbers:
    x += 1
    print(x)

2
3
4
5
6
7
8
9
10
11

In [22]:
for x in numbers:
    if x % 2 == 0: #print values with remainder = 0
        print(x)

2
4
6
8
10

In [23]:
data = [1,2,3,4,5,6,7,8,9,10]

#Method 1. 
#sum first number plus second number
#answer plus third number
#repeat till end of data

#alternatively: Method 2
#go over all the data one by one
#add first number to next number
#continue till end

In [24]:
result = 0
for i in data:
    result += i
    print(result) #**AVOID RUNNING THIS MORE THAN ONCE BEC. IT'S A LOGARITHM

1
3
6
10
15
21
28
36
45
55

In [25]:
result = 0
for i in data:
    result += i
print(result) #indentation removed (print has been removed from the loop)

55

In [26]:
range(10)

range(0, 10)

In [27]:
list(range(10))

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [28]:
list(range(1,11))

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [29]:
total = 0
for i in range(1,6):
    total += i
print(total)

15

In [30]:
for i in data[:5]:
    print(i)

1
2
3
4
5

In [31]:
#define a FUNCTION

def greet():
    print("Good morning")
    
greet()
greet()
greet()

Good morning
Good morning
Good morning

In [32]:
#FUNCTION PARAMETER
def greet(x):
    print(f"Good {x}")

In [33]:
greet("Morning")
greet("Afternoon")
greet("Evening")

Good Morning
Good Afternoon
Good Evening

In [34]:
def add_two_numbers(x,y):
    print(x + y)

In [35]:
add_two_numbers(3,5)
add_two_numbers(2,8)

8
10

In [ ]:
num1 = input("Enter first number")
num2 = input("Enter second number")
def add_two_numbers(x,y):
    print(x + y)
    
add_two_numbers(num1, num2)

In [ ]:
num1 = int(input("Enter first number"))   #int converts script to integer so that a mathematical operation is possible
operator = input("Enter operator")
num2 = int(input("Enter second number"))
def add_two_numbers(x,y):
    print(x + y)
    
add_two_numbers(num1, num2)

In [ ]:
#VARIABLE SCOPE
x = 10           #this is the Global variable

def local_variable():
    x = 5
    print(x)
    
local_variable()

In [ ]:
x = 10          #the Global variable overides in the absence of a local variable
def local_variable():
    print(x)    #Local
    
local_variable()

In [ ]:
def local_variable():
    z = 2
    print(z)
    
print(z)     #this command is meant to print the Global variable which unfortunately has not been defined. 
             #Local variable can not answer for Global